.root{
  margin: 0 auto;
  text-align: center;
}
.brand{
  padding-top:20px;
  padding-bottom: 20px;
}
.navs{
  display: flex;
  background-color: #333
}
.nav-item{
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
